src/main/xsd/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://conterra.de/Babelfish/Overpass" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://conterra.de/Babelfish/Overpass" xsi:schemaLocation="http://java.sun.com/xml/ns/jaxb http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/jaxb/bindingschema_2_0.xsd" elementFormDefault="qualified" jaxb:version="2.1">
	<xsd:simpleType name="Color">
		<xsd:annotation>
			<xsd:documentation>a HTML color (e.g. #22FF88)</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:NMTOKEN">
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:pattern value="#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	
	<xsd:simpleType name="lineStyle">
		<xsd:annotation>
			<xsd:documentation>the style to render a polyline</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Null">
				<xsd:annotation>
					<xsd:documentation>no visible line</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Dot">
				<xsd:annotation>
					<xsd:documentation>a dotted line</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DashDotDot">
				<xsd:annotation>
					<xsd:documentation>a line, which will drawn with a dash-dot-dot signature</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Dash">
				<xsd:annotation>
					<xsd:documentation>a dashed line</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Solid">
				<xsd:annotation>
					<xsd:documentation>a solid line</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="symbol" abstract="true">
		<xsd:annotation>
			<xsd:documentation>a signature definition to render features</xsd:documentation>
		</xsd:annotation>
	</xsd:complexType>
	
	<xsd:complexType name="pictureSymbol">
		<xsd:annotation>
			<xsd:documentation>a symbol of a point</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="symbol">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="data" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>the image data encoded with base64</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="path" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>the path to an image file (relative to theOverpass plugin directory)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="lineSymbol">
		<xsd:annotation>
			<xsd:documentation>a line signature</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="symbol">
				<xsd:attribute name="style" type="lineStyle" default="Solid">
					<xsd:annotation>
						<xsd:documentation>the style of the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="width" type="xsd:int" default="1">
					<xsd:annotation>
						<xsd:documentation>the width to render the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="color" type="Color" default="#00DDFF">
					<xsd:annotation>
						<xsd:documentation>the color of the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="fillSymbol">
		<xsd:annotation>
			<xsd:documentation>a symbol to fill polygons</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="symbol">
				<xsd:sequence>
					<xsd:element name="outline" type="lineSymbol" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>the signature, how to render the outline of the polygon</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="color" type="Color" default="#FFD700">
					<xsd:annotation>
						<xsd:documentation>the color to fill the polygon with</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:simpleType name="fileFormat" final="restriction">
		<xsd:annotation>
			<xsd:documentation>the type of an OSM data file</xsd:documentation>
			<xsd:appinfo>
				<jaxb:javaType name="de.conterra.babelfish.overpass.io.OsmFileFormat" parseMethod="de.conterra.babelfish.overpass.io.OsmFileFormat.valueOf" printMethod="OsmFileFormatAdapter.printEnumToString" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="XML">
				<xsd:annotation>
					<xsd:documentation>a simple OSM-XML file</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PBF">
				<xsd:annotation>
					<xsd:documentation>an OSM file in the Protocolbuffer Binary Format</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="compression" final="restriction">
		<xsd:annotation>
			<xsd:documentation>the compression of an OSM data file</xsd:documentation>
			<xsd:appinfo>
				<jaxb:javaType name="org.openstreetmap.osmosis.xml.common.CompressionMethod" parseMethod="org.openstreetmap.osmosis.xml.common.CompressionMethod.valueOf" printMethod="CompressionMethodAdapter.printEnumToString" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None">
				<xsd:annotation>
					<xsd:documentation>no compression</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GZip">
				<xsd:annotation>
					<xsd:documentation>GNU zip compression</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BZip2">
				<xsd:annotation>
					<xsd:documentation>The BZip2 compression</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="osmFileDef">
		<xsd:annotation>
			<xsd:documentation>a file, which contains OpenStreetMap features</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="path" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>a path to the data file, relative to the services folder</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="fileFormat">
				<xsd:annotation>
					<xsd:documentation>the file format, in which the OpenStreetMap data will be stored</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="compression" type="compression">
				<xsd:annotation>
					<xsd:documentation>the compression type</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="layerTemplate">
		<xsd:annotation>
			<xsd:documentation>a template of layers
				<br />The following properties could used in text attributes and elements like names or descriptions:
				<ul>
					<li>${layerId}</li>
					<li>${category.key}</li>
					<li>${category.value}</li>
				</ul>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>an user-friendly name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="desc" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>a layer description</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="nodeLayerTemplate">
		<xsd:annotation>
			<xsd:documentation>a template of a layer, which contains OpenStreetMap nodes</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layerTemplate">
				<xsd:sequence>
					<xsd:element name="defaultSymbol" type="pictureSymbol">
						<xsd:annotation>
							<xsd:documentation>a signature, used if no symbol could found for a layer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="symbol" type="pictureSymbol" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>a signature to render the points
								<br />Use properties in the path element to get different symbols of different layers.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="lineLayerTemplate">
		<xsd:annotation>
			<xsd:documentation>a template of a layer, which contains OpenStreetMap ways</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layerTemplate">
				<xsd:sequence>
					<xsd:element name="defaultSymbol" type="lineSymbol">
						<xsd:annotation>
							<xsd:documentation>a signature, used if no symbol could found for a layer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!-- TODO add variable symbols, by using color shift -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="polygonLayerTemplate">
		<xsd:annotation>
			<xsd:documentation>a template of a layer, which contains closed OpenStreetMap ways or relations</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layerTemplate">
				<xsd:sequence>
					<xsd:element name="defaultSymbol" type="fillSymbol">
						<xsd:annotation>
							<xsd:documentation>a signature, used if no symbol could found for a layer</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<!-- TODO add variable symbols, by using color shift -->
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="layer" abstract="true">
		<xsd:annotation>
			<xsd:documentation>a layer to provide OpenStreetMap features on a Babelfish server</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layerTemplate">
				<xsd:choice>
					<xsd:element name="metaFilter" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>filter of the OpenStreetMap tags</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="script" type="xsd:string" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>a complete Overpass script to filter the data. Must contain one or more {{bbox}} as placeholder of the requested bounding box.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="file" type="osmFileDef" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>file with the OpenStreetMap data, to use as the data source</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:attribute name="id" type="xsd:int" use="required">
					<xsd:annotation>
						<xsd:documentation>the unique identifier</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="nodeLayer">
		<xsd:annotation>
			<xsd:documentation>a layer, which shows OpenStreetMap nodes as points</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layer">
				<xsd:sequence>
					<xsd:element name="symbol" type="pictureSymbol" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>a signature to render the points</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="lineLayer">
		<xsd:annotation>
			<xsd:documentation>a layer, which shows OpenStreetMap ways as polylines</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layer">
				<xsd:sequence>
					<xsd:element name="symbol" type="lineSymbol" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>a signature, how to render the lines</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="polygonLayer">
		<xsd:annotation>
			<xsd:documentation>a layer, which shows OpenStreetMap ways as polygons</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layer">
				<xsd:sequence>
					<xsd:element name="symbol" type="fillSymbol" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>a signature to render the polygons</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="service">
		<xsd:annotation>
			<xsd:documentation>a features service to add to the Babelfish server</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="nodeLayer" type="nodeLayer">
					<xsd:annotation>
						<xsd:documentation>a layer with point features</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="lineLayer" type="lineLayer">
					<xsd:annotation>
						<xsd:documentation>a layer with line features</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="polygonLayer" type="polygonLayer">
					<xsd:annotation>
						<xsd:documentation>a layer with polygon features</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:sequence>
				<xsd:element name="file" type="osmFileDef">
					<xsd:annotation>
						<xsd:documentation>the file to use as the data source</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="categoryTag" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>the tag key, which is used to split the data in different layers</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element name="nodeLayerTemplate" type="nodeLayerTemplate">
						<xsd:annotation>
							<xsd:documentation>a layer template with point features</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="lineLayerTemplate" type="lineLayerTemplate">
						<xsd:annotation>
							<xsd:documentation>a layer template with polyline features</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="polygonLayerTemplate" type="polygonLayerTemplate">
						<xsd:annotation>
							<xsd:documentation>a layer template with polygon features</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>the unique identifier</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="desc" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>a service description</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:element name="services">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="service" type="service" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>a features service</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
