src/main/xsd/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://conterra.de/Babelfish/Overpass" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://conterra.de/Babelfish/Overpass" xsi:schemaLocation="http://java.sun.com/xml/ns/jaxb http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/jaxb/bindingschema_2_0.xsd" elementFormDefault="qualified" jaxb:version="2.1">
	<xsd:simpleType name="Color">
		<xsd:annotation>
			<xsd:documentation>a HTML color (e.g. #22FF88)</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:NMTOKEN">
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:pattern value="#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:union>
	</xsd:simpleType>
	
	<xsd:simpleType name="lineStyleType">
		<xsd:annotation>
			<xsd:documentation>the style to render a polyline</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Null" />
			<xsd:enumeration value="Dot" />
			<xsd:enumeration value="DashDotDot" />
			<xsd:enumeration value="Dash" />
			<xsd:enumeration value="Solid" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="symbolType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>a signature definition to render features</xsd:documentation>
		</xsd:annotation>
	</xsd:complexType>
	
	<xsd:complexType name="pictureSymbolType">
		<xsd:annotation>
			<xsd:documentation>a symbol of a point</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="symbolType">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="data" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>the image data encoded with base64</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="path" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>the path to an image file (relative to theOverpass plugin directory)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="lineSymbolType">
		<xsd:annotation>
			<xsd:documentation>a line signature</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="symbolType">
				<xsd:attribute name="style" type="lineStyleType" default="Solid">
					<xsd:annotation>
						<xsd:documentation>the style of the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="width" type="xsd:int" default="1">
					<xsd:annotation>
						<xsd:documentation>the with to render the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="color" type="Color" default="#00DDFF">
					<xsd:annotation>
						<xsd:documentation>the color of the line</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="fillSymbolType">
		<xsd:annotation>
			<xsd:documentation>a symbol to fill polygons</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="symbolType">
				<xsd:sequence>
					<xsd:element name="outline" type="lineSymbolType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>the signature, how to render the outline of the polygon</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="color" type="Color" default="#FFD700">
					<xsd:annotation>
						<xsd:documentation>the color to fill the polygon with</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:simpleType name="fileFormatType" final="restriction">
		<xsd:annotation>
			<xsd:documentation>the type of an OSM data file.</xsd:documentation>
			<xsd:appinfo>
				<jaxb:javaType name="de.conterra.babelfish.overpass.io.OsmFileFormat" parseMethod="de.conterra.babelfish.overpass.io.OsmFileFormat.valueOf" printMethod="OsmFileFormatAdapter.printEnumToString" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="XML">
				<xsd:annotation>
					<xsd:documentation>a simple OSM-XML file</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PBF">
				<xsd:annotation>
					<xsd:documentation>an OSM file in the Protocolbuffer Binary Format</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="compressionType" final="restriction">
		<xsd:annotation>
			<xsd:documentation>the compression of an OSM data file.</xsd:documentation>
			<xsd:appinfo>
				<jaxb:javaType name="org.openstreetmap.osmosis.xml.common.CompressionMethod" parseMethod="org.openstreetmap.osmosis.xml.common.CompressionMethod.valueOf" printMethod="CompressionMethodAdapter.printEnumToString" />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="None">
				<xsd:annotation>
					<xsd:documentation>no compression</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="GZip">
				<xsd:annotation>
					<xsd:documentation>GNU zip compression</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BZip2">
				<xsd:annotation>
					<xsd:documentation>The BZip2 compression</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="fileType">
		<xsd:annotation>
			<xsd:documentation>a file, which contains OpenStreetMap features</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="path" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>a path to the data file, relative to the services folder.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type" type="fileFormatType" />
			<xsd:element name="compression" type="compressionType" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="layerType" abstract="true">
		<xsd:annotation>
			<xsd:documentation>a layer to provide OpenStreetMap features on a Babelfish server</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="metaFilter" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>filter of the OpenStreetMap tags</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="script" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>a complete Overpass script to filter the data. Must contain one or more {{bbox}} as placeholder of the requested bounding box.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="file" type="fileType" minOccurs="0" />
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:int" use="required">
			<xsd:annotation>
				<xsd:documentation>the unique identifier</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>an user-friendly name</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="desc" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>a layer description</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:complexType name="nodeLayerType">
		<xsd:annotation>
			<xsd:documentation>a layer, which shows OpenStreetMap nodes as points</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layerType">
				<xsd:sequence>
					<xsd:element name="symbol" type="pictureSymbolType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>a signature to render the points</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="lineLayerType">
		<xsd:annotation>
			<xsd:documentation>a layer, which shows OpenStreetMap ways as polylines</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layerType">
				<xsd:sequence>
					<xsd:element name="symbol" type="lineSymbolType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>a signature, how to render the lines</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="polygonLayerType">
		<xsd:annotation>
			<xsd:documentation>a layer, which shows OpenStreetMap ways as polygons</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="layerType">
				<xsd:sequence>
					<xsd:element name="symbol" type="fillSymbolType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>a signature to render the polygons</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="serviceType">
		<xsd:annotation>
			<xsd:documentation>a features service to add to the Babelfish server</xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="nodeLayer" type="nodeLayerType" />
			<xsd:element name="lineLayer" type="lineLayerType" />
			<xsd:element name="polygonLayer" type="polygonLayerType" />
		</xsd:choice>
		<xsd:attribute name="id" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>the unique identifier</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="desc" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>a service description</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<xsd:element name="services">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="service" type="serviceType" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
